@font-face {
    font-family: pixelFont;
    src: url(assets/PixelGameFont.ttf);
}

body {
    --hex-width: 45px;
    --hex-height: 26px; 
    --hex-half-width: calc(var(--hex-width)/2);
    --hex-half-height: calc(var(--hex-height)/2);
    --hex-font-size: 1.35rem;

    --color-primary: rgb(34, 87, 210);

    margin: 0px;
    font-size: 22px;
    font-family: 'pixelFont';
    background-color: antiquewhite;
}

#container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.difficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    font-size: 1.5rem;
}

.options {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0rem;
}

.option {
    font-size: 1.3rem;
    font-weight: 100;
    margin: 0 1rem;
    cursor: pointer;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 0.2rem 0.8rem;
    font-family:'Courier New', Courier, monospace;
    transition: 0.3s all ease;
}

.option:hover {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.option-active {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    cursor: default;
}

#board {
    margin: 2.5rem 0 5rem;
}

.hex {
    cursor: pointer;
    float: left;
    margin-left: 3px;
    margin-bottom: calc(var(--hex-half-height) * -1 + 3px);
}

.hex .middle {
    font-size: var(--hex-font-size);
    font-weight: 600;
    text-align: center;
    width: var(--hex-width);
    height: var(--hex-height);
    background-color: var(--color-primary);
}

.hex .bottom, .hex .top {
    width: 0;
    border-left: var(--hex-half-width) solid transparent;
    border-right: var(--hex-half-width) solid transparent;
}

.hex .top {
    border-bottom: var(--hex-half-height) solid var(--color-primary);
}

.hex .bottom {
    border-top: var(--hex-half-height) solid var(--color-primary);
}

.hex-row {
    clear: left;
}

.hex-row.even {
    margin-left: calc(var(--hex-half-width) + 1px);
}
